In [457]:
import numpy as np
import pandas as pd

In [458]:
dataset = pd.read_csv('iris data with class label (1).csv')

In [459]:
dataset.shape

(150, 5)

In [460]:
dataset.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth      Species
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [461]:
dataset.groupby('Species').size()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [462]:
feature_columns = ['SepalLength', 'SepalWidth', 'PetalLength','PetalWidth']
X = dataset[feature_columns].values
y = dataset['Species'].values

In [463]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [464]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [465]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import cross_val_score

# Instantiate learning model (k = 3)
classifier = KNeighborsClassifier(n_neighbors=3)

# Fitting the model
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [466]:
cm = confusion_matrix(y_test, y_pred)
cm

array([[11,  0,  0],
       [ 0, 12,  1],
       [ 0,  0,  6]], dtype=int64)

In [467]:
accuracy = accuracy_score(y_test, y_pred)*100
print('Accuracy of our model is equal ' + str(round(accuracy, 4)) + ' %.')

Accuracy of our model is equal 96.6667 %.

In [468]:
# creating list of K for KNN
k_list = list(range(1,50,2))
# creating list of cv scores
cv_scores = []

# perform 10-fold cross validation
for k in k_list:
    knn = KNeighborsClassifier(n_neighbors=k)
    scores = cross_val_score(knn, X_train, y_train, cv=10, scoring='accuracy')
    cv_scores.append(scores.mean())

In [469]:
cv_scores

[0.9501398601398602,
 0.9256643356643357,
 0.9327156177156178,
 0.9473426573426573,
 0.9564335664335666,
 0.9564335664335666,
 0.9481002331002332,
 0.9481002331002332,
 0.9481002331002332,
 0.9404079254079255,
 0.9404079254079255,
 0.9481002331002332,
 0.9481002331002332,
 0.9327156177156178,
 0.9427156177156177,
 0.9427156177156177,
 0.9427156177156177,
 0.9427156177156177,
 0.9336247086247086,
 0.9327156177156178,
 0.9418065268065268,
 0.9504079254079254,
 0.9518065268065268,
 0.9518065268065268,
 0.9166899766899768]

In [470]:
dataset2 = pd.read_csv('iris data without class label (1).csv')

In [471]:
from sklearn.preprocessing import StandardScaler

In [472]:
X2 = StandardScaler().fit_transform(X)

In [473]:
from sklearn.decomposition import PCA

In [474]:
pca = PCA(n_components=3)

principalComponents = pca.fit_transform(X2)

In [475]:
principalDf= pd.DataFrame (data=principalComponents,columns=['pc1','pc2','pc3'])

In [476]:
principalDf.head()

        pc1       pc2       pc3
0 -2.264542  0.505704 -0.121943
1 -2.086426 -0.655405 -0.227251
2 -2.367950 -0.318477  0.051480
3 -2.304197 -0.575368  0.098860
4 -2.388777  0.674767  0.021428

In [477]:
finalDf = pd.concat([principalDf,pd.DataFrame(y)],axis=1)

In [478]:
finalDf.head()

        pc1       pc2       pc3  0
0 -2.264542  0.505704 -0.121943  0
1 -2.086426 -0.655405 -0.227251  0
2 -2.367950 -0.318477  0.051480  0
3 -2.304197 -0.575368  0.098860  0
4 -2.388777  0.674767  0.021428  0

In [479]:
feature_columns0 = ['pc1','pc2','pc3']
X0 = finalDf[feature_columns0].values
y0 = finalDf[0].values

In [480]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y0 = le.fit_transform(y0)

In [481]:
X_train0, X_test0, y_train0, y_test0 = train_test_split(X0, y0, test_size = 0.2, random_state = 0)

In [482]:
# Instantiate learning model (k = 3)
classifier = KNeighborsClassifier(n_neighbors=3)

# Fitting the model
classifier.fit(X_train0, y_train0)

# Predicting the Test set results
y_pred0 = classifier.predict(X_test0)

In [483]:
cm = confusion_matrix(y_test0, y_pred0)
cm

array([[11,  0,  0],
       [ 0, 13,  0],
       [ 0,  1,  5]], dtype=int64)

In [484]:
accuracy0 = accuracy_score(y_test0, y_pred0)*100
print('Accuracy of our model is equal ' + str(round(accuracy0, 4)) + ' %.')

Accuracy of our model is equal 96.6667 %.

In [485]:
# creating list of K for KNN
k_list0 = list(range(1,50,2))
# creating list of cv scores
cv_scores0 = []

# perform 10-fold cross validation
for k in k_list0:
    knn0 = KNeighborsClassifier(n_neighbors=k)
    scores0 = cross_val_score(knn0, X_train0, y_train0, cv=10, scoring='accuracy')
    cv_scores0.append(scores0.mean())

In [486]:
cv_scores0

[0.9173310023310025,
 0.9424475524475525,
 0.931958041958042,
 0.951048951048951,
 0.9333566433566434,
 0.9250233100233102,
 0.9327156177156178,
 0.9250233100233102,
 0.9243822843822844,
 0.9343822843822844,
 0.9418065268065268,
 0.9180885780885781,
 0.9197552447552446,
 0.9180885780885781,
 0.9257808857808858,
 0.9174475524475525,
 0.9174475524475525,
 0.8943706293706294,
 0.8775874125874127,
 0.8752797202797205,
 0.8843706293706294,
 0.866946386946387,
 0.8592540792540794,
 0.8746386946386947,
 0.8683449883449883]

In [487]:
principalDf.corr(method ='pearson')

              pc1           pc2           pc3
pc1  1.000000e+00  9.011565e-17 -2.135961e-16
pc2  9.011565e-17  1.000000e+00  1.427257e-16
pc3 -2.135961e-16  1.427257e-16  1.000000e+00

In [488]:
cr = finalDf.corr() 
x = cr.unstack()
c=x.sort_values()
c[0]

pc2   -0.014869
pc3    0.193196
pc1    0.944763
0      1.000000
dtype: float64